.modal-window.classification-panel > .modal-card {
    width: 1100px;
}

.modal-window.classification-panel table tr td:first-child {
    text-align: left;
}

.modal-window.classification-panel table tr td:last-child {
    text-align: right;
}

.modal-window.classification-panel table.bivariate tr td {
    text-align: center;
    vertical-align: middle;
}

.modal-window.classification-panel table {
    width: 70%;
    margin: 12% auto 0 auto;
}

.modal-window.classification-panel table.bivariate {
    width: 90%;
    margin: 8% auto 0 auto;
}

.modal-window.classification-panel p.label {
    margin-top: 1em !important;
    margin-bottom: 0 !important;
}

.modal-window.classification-panel p.label.is-marginless {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.modal-window.classification-panel input[type="number"] {
    width: 90px;
}

.modal-window.classification-panel input[type="number"] + span {
    margin-left: 0.5em;
    vertical-align: -webkit-baseline-middle;
    vertical-align: -moz-middle-with-baseline;
}

.modal-window.classification-panel svg[class*='plot'] {
    border: solid 0.5px silver;
}

#dropdown-palette-name .dropdown-content {
    height: 12vh;
    overflow-y: auto;
}

.modal-window.classification-panel .copy-breaks {
    vertical-align: sub;
}