.navbar {
  height: var(--header-height);
  background-color: var(--background-color);
  border-bottom: 1px solid var(--border-color);
}

.button-header-bar {
  margin-right: 0.5em;
}

.button-header-bar svg {
  transform: scale(1.25);
}