.field {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5em !important;
}

.field label.label {
    margin-bottom: unset;
}

.field .control .number {
    margin-right: 0;
    height: 1.3em;
    width: 133px;
}

.field .control .color {
    width: 133px;
    border-radius: 1em;
    height: 1.9em;
}