/*

We have two types of "field":
- 'field' class is a field with display: flex, justify-content: space-between
- 'field-block' class is a field with display: block

*/
.field {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5em !important;
}

.field-block {
    display: block;
    margin-bottom: 1.5em !important;
}

.field .control .number,
.field-block .control .number {
    margin-right: 0;
    height: 1.3em;
    width: 133px;
}

.field .control .color,
.field-block .control .color {
    width: 133px;
    border-radius: 1em;
    height: 1.9em;
}

.field label.label {
    margin-bottom: unset;
}

/* Styles for the LegendSettings component */
.legend-settings__content .field input[type=number] {
    width: 8em !important;
}

.legend-settings__content table input[type=number] {
    width: 5em !important;
    height: 2em;
}

.legend-settings__content table tr {
    height: 3em;
}

.legend-settings__content table select {
    width: 100%;
}