/*
The left menu is:
- fixed on the left of the window
- occupying the whole height of the window minus the navbar
- with a grey background color
- with a 1px solid grey border
*/
.left-menu {
    position: fixed;
    left: 0;
    top: 50px;
    height: calc(100% - 50px);
    background-color: #f5f5f5;
    border-right: 1px solid #e5e5e5;
    width: var(--left-menu-size);
    max-width: var(--left-menu-size);
    border-left: solid 2px gray;
    border-right: solid 2px gray;
    border-bottom: solid 2px gray;
}

.left-menu__title {
    font-size: 0.8rem;
    font-weight: 800;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border: solid 1px black;
}

.expanded-collapse-menu {
    height: auto;
    overflow: unset;
}

.collapse-transition {
    transition: height var(--sc-auto-duration) cubic-bezier(0.65, 0, 0.35, 1);
    border: solid 1px black !important;
}

.chevron-button {
    padding: 5px;
    background-color: blue;
    border: none;
    display: flex;
    cursor: pointer;
    border: 1px solid pink;
    aspect-ratio: 1;
    border-radius: 5px;
    align-items: center;
    transition: background-color 200ms ease-out, border 200ms ease-out;
}

.chevron-button svg {
    transform: rotate(0deg);
    stroke: white;
}

.chevron-button .is-active {
    background-color: black;
    border: 1px solid red;
}

.chevron-button.is-active svg {
    transform: rotate(180deg);
}