/*
The left menu is:
- fixed on the left of the window
- occupying the whole height of the window minus the navbar
- with a grey background color
- with a 1px solid grey border
*/
.left-menu {
    position: fixed;
    left: 0;
    top: var(--header-height);
    height: calc(100% - var(--header-height));
    background-color: #f5f5f5;
    border-right: 1px solid #e5e5e5;
    width: var(--left-menu-width);
    max-width: var(--left-menu-width);
    border-left: solid 2px gray;
    border-right: solid 2px gray;
    border-bottom: solid 2px gray;
}

.left-menu__title {
    font-size: 1.1rem;
    font-weight: 800;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border: solid 1px black;
    align-items: center;
}

.left-menu__title-inner {
    display: flex;
    align-items: center;
}

.left-menu__title-inner svg {
    margin-right: 0.8rem;
    transform: scale(1.5);
}

.expanded-collapse-menu {
    height: auto;
    overflow: unset;
}

.collapse-transition {
    transition: height var(--sc-auto-duration) cubic-bezier(0.65, 0, 0.35, 1);
    border: solid 1px black !important;
}

.chevron-button {
    padding: 5px;
    background-color: #c7c7c7;
    display: flex;
    cursor: pointer;
    border: 1px solid #888888;
    aspect-ratio: 1;
    border-radius: 5px;
    align-items: center;
    transition: background-color 200ms ease-out, border 200ms ease-out;
}

.chevron-button svg {
    transform: rotate(0deg);
    stroke: white;
}

.chevron-button .is-active {
    background-color: black;
    border: 1px solid red;
}

.chevron-button.is-active svg {
    transform: rotate(180deg);
}

.left-menu__section-container {
    padding: 10px 5px;
}

/* MapConfiguration section of the left menu */
#map-configuration__projection-dropdown .dropdown-content {
    max-height: 50vh;
    overflow-y: scroll;
}
