:root {
  --primary-color: hsl(171, 100%, 41%);
  --success-color: hsl(141, 53%, 53%);
  --warning-color: hsl(48, 100%, 67%);
  --danger-color: hsl(348, 100%, 61%);
  --left-menu-size: 300px;
  --header-height: 56px;
}

html {
  overflow-y: auto;
  font-size: 16px;
}