html {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    font-size: 13px;
    box-sizing: border-box;
    --background-color: var(--bulma-background); /* ou #f5f5f5 ou rgb(236, 235, 240); */
    --map-container-background: #fff;
    --border-color: #e5e5e5; /* rgb(220, 220, 220); */
    --chevron-color: #c7c7c7;
    --button-shadow: hsla(208,7%,46%,.3);
    --sortable-chosen-background: #d2d2d2;
    --left-menu-width: 380px; /* or 29.5em to keep it sync with font-size... */
    --header-height: 54px;
    transition: background-color 200ms ease-out, border 200ms ease-out, color 200ms ease-out;
}

html.theme-dark {
    --background-color: var(--bulma-background); /* ou #172128 ou #232327 ou #363636 ou #1b1b1f */
    --map-container-background: #4c4c4c; /* ou #2e2e2e ou #494a53 ou #242424 */
    --border-color: #424242; /* #333333; */
    --chevron-color: #6c6a6a;
    --button-shadow: hsla(207, 53%, 88%, 0.3);
    --sortable-chosen-background: #262626;
    scrollbar-color: auto;
    color-scheme: dark;
}

@media screen and (max-width: 1023px) {
    html {
        --left-menu-width: 310px;
        --header-height: 42px;
    }
}

/*
Overwrite some of our values (we will handle that
in a cleaner way in the future)
 */
img.magrit-logo {
  transition: 200ms ease-out;
}

/*html.theme-dark img.magrit-logo {
  filter:invert(1);
}*/

html.theme-dark .file-import-table tr.entry-detail {
    background: #373737;
}

html.theme-dark .functionality-selection .mini-button.selected {
    border: solid 2px darkgreen;
}

html.theme-dark select option {
  background-color: #2e2e2e;
  color: #f5f5f5;
}

html.theme-dark select[multiple] option:checked {
    background-color: #12546e;
    color: unset !important;
}

html.theme-dark select > option[disabled] {
    color: grey;
}

html.theme-dark .left-menu__section-container {
    background-color: #262933; /* #191b21; */
}

html.theme-dark .left-menu__section-container li.is-active a {
    background-color: hsl(222deg 13.89% 14.12%);
}

/* Overwrite some Bulma's default values */
.modal-card-body {
    padding: 1em 1.5em !important;
}

.modal .modal-card-foot .button:not(:last-child) {
  margin-right: 0.5em;
}

.button .has-shadow {
  box-shadow: 0 0.5rem 0.8rem var(--button-shadow) !important;
}

.modal-card-foot .button:not(:last-child) {
  margin-right: 0.5em;
}

.modal-card-foot, .modal-card-head {
    padding: 1em !important;
}

article.message .message-body {
    color: var(--bulma-text);
}

input.input[type="color"] {
    padding: 0.25em;
}

button.unstyled {
  background-color: unset;
  border: unset;
  box-shadow: unset;
  color: unset;
  padding: unset;
}

/* Somehow large outline to make visible which button is focused */
button.button:focus {
  /* -webkit-focus-ring-color auto thin; */
  outline: hsl(var(--bulma-input-focus-h),var(--bulma-input-focus-s),var(--bulma-input-focus-l)) auto thin;
  outline: Highlight auto thin;
  outline: revert;
}

svg[class*='plot'] {
  margin: auto;
}

input[type=checkbox], input[type=radio] {
  vertical-align: baseline;
  margin-right: 0.4em;
}

.content details summary {
  cursor: pointer;
  font-weight: 800;
  height: 2em;
  margin-bottom: 1em;
}
