.map-zone {
  width: calc(100vw - var(--left-menu-size));
  position: fixed;
  left: var(--left-menu-size);
  height: calc(100vh - var(--header-height));
}

.map-zone__inner {
  width: 100%;
  height: 100%;
  display: flex;
}

.map-zone__map {
  margin: auto;
  width: 90%;
  height: 90%;
  border: dashed 2px grey
}

path {
  stroke-width: 0.25px;
  stroke-linejoin: round;
  stroke-linecap: round;
  vector-effect: non-scaling-stroke;
}