.overlay-drop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 100;
  display: none;
}

.overlay-drop.visible {
  display: block;
}

.overlay-drop__content {
  margin: 10vh 10vw;
  width: 80vw;
  height: 80vh;
  border: dashed 4px #fff;
  border-radius: 10px;
}

.overlay-drop__content__title {
  font-size: 2rem;
  color: #fff;
  text-align: center;
  margin-top: 30px;
  /*position: relative;*/
  /*top: 40vh;*/
}

.overlay-drop__content ul {
  list-style: none;
  font-size: 1.5rem;
}

.overlay-drop__content li.authorized {
  color: var(--success-color);
  margin: 1rem 0;
}


.overlay-drop__content li {
  color: var(--danger-color);
  margin: 1rem 0;
}