.portrayal-selection .card.is-disabled {
    filter: opacity(0.5);
}

.portrayal-selection .mini-button {
    border: solid 1px transparent;
    width: 19px;
    height: 100%;
    cursor: pointer;
}

.portrayal-selection .mini-button.selected {
    border: solid 2px green;
}

.portrayal-selection .card.is-disabled {
    cursor: not-allowed;
}